<div class="container">
    <div class="header">
        Schedules
    </div>
    <div class="whole" *ngFor="let schedule of schedules">
        <div class="card">
            <div class="heading">Work Time</div>
            <div class="list">
                <div class="days"  *ngFor="let day of schedule.days">
                    <div class="round" *ngIf="day.set">
                        <div class="day" >{{day.day | slice:0:1}}</div>
                    </div>
                    <div class="round-none" *ngIf="!day.set">
                        <div class="day" >{{day.day | slice:0:1}}</div>
                    </div>
                </div>
            </div>
            <div class="time">
                <div class="from">
                    <div class="head">Starts</div>
                    <div class="label">{{schedule.fromTime}}</div>
                </div>
                <div class="to">
                    <div class="head">Ends</div>
                    <div class="label">{{schedule.toTime}}</div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="add">
        <div class="add-round"  (click)="addSchedule()"><div class="plus">+</div></div>
    </div>
</div>